body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


@media only screen and (max-width: 600px) {
   

    header, footer {
        text-align: center;
    }

    nav {
        display: grid;
        grid-template-columns: 1fr;
    }

    main {
        padding: 10px;
    }

    aside {
        display: none; 
    }

    .iframe-container{
        width: 400;
        height: 450;
    }

nav.menu {
    display: none;
}


.dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  nav a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

}


@media only screen and (min-width: 601px) and (max-width: 900px) {
    

    nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    aside {
        display: none; 
    }

    main {
        padding: 20px;
    }

    .dropdown-menu {
        display: none;
    }

}


@media only screen and (min-width: 901px) and (max-width: 1200px) {
    

    nav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    aside {
        display: block;
        width: 100%;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 300px;
        gap: 20px;
    }

    .dropdown-menu {
        display: none;
    }
}


@media only screen and (min-width: 1201px) and (max-width: 1920px) {
    

    nav {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    main {
        display: grid;
    }

    aside {
        width: 100%;
        padding: 10px;
    }

    .iframe-container{
            width: 600;
            height: 450;
    }

    .dropdown-menu {
        display: none;
    }
}


@media only screen and (min-width: 1921px) {

    nav {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }

    main {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 40px;
    }

    aside {
        width: 100%;
        padding: 20px;
    }

    .dropdown-menu {
        display: none;
    }
}